.adminCtn {
  padding: 10px;
}

.adminTitle {
  font-size: 36px;
  font-weight: bold;
}
.adminDesc {
  margin-bottom: 10px;
}

.adminOptionList {
    border-top-style: solid;
    border-color: black;
    overflow: clip;
}
.adminOptionItem {
    padding: 10px;

    border-bottom-style: solid;
    border-width: 2px;
    border-color: gray;
}
.adminOptionItem:hover {
    background: #d0d0d0;
}
.adminOption {
    font-size: 18px;
    font-weight: bold;
    color: black;
}
a {
    text-decoration: none;
}